#container {
    width: 1338px;
    height: 910px;
    text-align: center;
    /*border: 10px solid #cf6cad;*/
    background-image: url("../images/codymaze.png");
    background-size: 1338px 910px;
}

#container span {
    display: block;
}

.spaced {
    display: block;
    padding-top: 350px;
}

.small-spaced {
    display: block;
    padding-top: 5px;
}

.padded {
    display: block;
    padding: 0px 100px 0px 100px;
}

.reduced {
    display: block;
    padding: 135px 250px 0px 250px;
}

.font-10 {
    font-size: 10px;
    font-style: italic;
}

.font-15 {
    font-size: 15px;
    font-style: italic;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-30 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 0.6em 0;
}

#container span:last-child {
    margin: 0.5em 0 0 0;
}

#signature {
    padding-left: 670px;
    text-align: left;
}

@media print {

}
